<main>
  <div class="container">
    <app-search (search)="search($event)"></app-search>
    <app-add-contact></app-add-contact>
    <div class="contactList">
      <div *ngFor="let contact of contacts"
           [ngClass]="{hidden:
           contact.firstName.toLocaleLowerCase().indexOf(searchStr.toLocaleLowerCase()) == -1 &&
           contact.lastName.toLocaleLowerCase().indexOf(searchStr.toLocaleLowerCase()) == -1 &&
           contact.email.toLocaleLowerCase().indexOf(searchStr.toLocaleLowerCase()) == -1 &&
           contact.company.toLocaleLowerCase().indexOf(searchStr.toLocaleLowerCase()) == -1
           }">
        <mat-card *ngIf="
        contact.firstName.toLocaleLowerCase().indexOf(searchStr.toLocaleLowerCase()) != -1 ||
        contact.lastName.toLocaleLowerCase().indexOf(searchStr.toLocaleLowerCase()) != -1 ||
        contact.email.toLocaleLowerCase().indexOf(searchStr.toLocaleLowerCase()) != -1 ||
        contact.company.toLocaleLowerCase().indexOf(searchStr.toLocaleLowerCase()) != -1
        ">
          <mat-card-header>
            <div mat-card-avatar>
              <img src="{{contact.photo}}" alt="avatar" class="cardAvatar">
            </div>
            <mat-card-title>{{contact.firstName}}</mat-card-title>
            <mat-card-subtitle>{{contact.lastName}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{contact.phone | appPhoneNumber}}
            </p>
            <p>
              {{contact.email}}
            </p>
            <p>
              {{contact.company}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</main>

